// | -------------------------------------------------------------
// | Font
// | -------------------------------------------------------------

@use 'breakpoint' as *;

@font-face {
  font-family: 'TiltNeon';
  src: local('/fonts/TiltNeon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiltNeon';
  src: local('/fonts/Mona-Sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src: local('Mona Sans ExtraBold'), local('MonaSans-ExtraBold'), url('/fonts/MonaSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/MonaSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src: local('Mona Sans Bold'), local('MonaSans-Bold'), url('/fonts/MonaSans-Bold.woff2') format('woff2'),
    url('/fonts/MonaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src: local('Mona Sans Italic'), local('MonaSans-Italic'), url('/fonts/MonaSans-Italic.woff2') format('woff2'),
    url('/fonts/MonaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src: local('Mona Sans Regular'), local('MonaSans-Regular'), url('/fonts/MonaSans-Regular.woff2') format('woff2'),
    url('/fonts/MonaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family-default);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  a:not(.button) {
    color: var(--action-color);
    text-decoration: underline;

    &:visited {
      color: var(--action-color);
    }

    &:hover,
    &:focus {
      color: var(--action-color-state);
      text-decoration: none;
    }
  }

  :where(main) a {
    word-wrap: break-word;
    word-break: break-word;
  }

  :where(h1, h2) {
    font-family: var(--font-family-special);
  }

  h1,
  h2 {
    font-weight: 800;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 3.375rem;

    @include breakpoint(medium) {
      font-size: 3rem;
      line-height: 3.625rem;
    }
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.8125rem;

    @include breakpoint(medium) {
      font-size: 2.25rem;
      line-height: 3.375rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;

    @include breakpoint(medium) {
      font-size: 1.875rem;
      line-height: 2.8125rem;
    }
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include breakpoint(medium) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.6875rem;

    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.875rem;
      h6 {
        font-size: 1rem;
      }
    }

    line-height: 1.5rem;

    @include breakpoint(medium) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
    .logo {
      height: 100%;
      width: 100%;
      max-width: 980px;
      text-align: center;
      width: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      user-select: none;
    }
    
    .logo b {
      font: 300 4vh "titlneon-1";
      color: #fee;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }
    .logo b span {
      animation: blink linear infinite 2s;
    }
    
    .logo b span:nth-of-type(2) {
      animation: blink linear infinite 3s;
    }
    
    .sub-logo {
      position: absolute;
      top: 4.7%;
      left: 51%;
      transform: translate(-50%, -50%) rotate(1.3deg);
      padding-top: 0;
      text-align: center;
    }
    
    .sub-logo b {
      font: 250 3vh "titlneon-1";
      color: #eef;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4444ff, 0 0 0.5em #4444ff, 0 0 0.1em #4444ff, 0 10px 3px #000;
      padding-top: 5.2em;
      transform: rotate(-5deg);
    }
    
    .sub-logo b span {
      animation: blink linear infinite 2s;
    }
    
    .sub-logo b span:nth-of-type(2) {
      animation: blink linear infinite 3s;
    }
    
    @keyframes blink {
      78% {
        color: inherit;
        text-shadow: inherit;
      }
      79% {
        color: #333;
      }
      80% {
        text-shadow: none;
      }
      81% {
        color: inherit;
        text-shadow: inherit;
      }
      82% {
        color: #333;
        text-shadow: none;
      }
      83% {
        color: inherit;
        text-shadow: inherit;
      }
      92% {
        color: #333;
        text-shadow: none;
      }
      92.5% {
        color: inherit;
        text-shadow: inherit;
      }
    }
  }
}
